<html>
    <head>
        <title>TED talk as a service</title>
        <meta name="description" content="Makov chain trained on TED talks.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

        <script src='https://code.responsivevoice.org/responsivevoice.js' async></script>

        <style>
            .centered {
                text-align: center;
            }

            .top {
                padding-top: 2rem;
            }

            @media (max-width: 30.0rem) {
                .top {
                    max-height: 25rem;
                }
            }

            @media (min-width: 30.0rem) and (max-width: 80.0rem) {
                .top {
                    max-height: 15rem;
                }
            }
        </style>
    </head>
    <body>
        <main class="wrapper">
            <section class="container">
                <div class="row top">
                    <div class="column column-80">
                        <h1>Markov chain trained on TED talks.</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <blockquote>
                            {{ .Quote }}
                        </blockquote>
                    </div>
                </div>

                <div class="row">
                    <div class="column centered">
                        <input type="button" class="button" value="Voice it!" onclick="responsiveVoice.speak('{{ .Quote }}');">
                    </div>

                    <div class="column centered">
                        <a href="/">
                            <input type="button" class="button" value="More!">
                        </a>
                    </div>

                    <div class="column centered">
                        <a href="/talk/{{ .ID }}">
                            <input type="button" class="button" value="Permalink">
                        </a>
                    </div>
                </div>
            </section>
        </main>

        <a href="https://github.com/Gonzih/markov-golang"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    </body>
</html>
